<%- include('../partials/header') %>

<div class="container">
  <h1 class="title">Editar Prêmio</h1>

  <% if (error) { %>
    <div class="notification is-danger">
      <%= error %>
    </div>
  <% } %>

  <div class="box">
    <form action="/prizes/<%= prize.id %>" method="POST">
      <input type="hidden" name="_method" value="PATCH">

      <div class="field">
        <label class="label">Nome do Prêmio</label>
        <div class="control">
          <input class="input" type="text" name="name" value="<%= prize.name %>" placeholder="Digite o nome do prêmio" required>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-primary">Salvar</button>
        </div>
        <div class="control">
          <a href="/prizes/<%= prize.id %>" class="button is-light">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>

<%- include('../partials/footer') %>